<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <% if ENV['APP_ENV'] == 'production' %>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <% else %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <% end %>
    <title>Tentacles - Page not found</title>
  </head>
  <body class="u-green-bg">
    <div class="error-container u-white-color">
      <h1 class="error-title">Oops!</h1>
      <h3 class="error-description">We can't seem to find the page you are looking for</h3>
      <div>
        <a href="/repositories" class="link-white">&larr; Go back to tentacles</a>
      </div>
    </div><!-- end of container -->
  </body>
</html>
