<div class="container">
  <div class="columns">
    <div class="column">
      <h2>Statistics</h2>
      <p class="lead lead-align">These are all the statistics available for these repositories</p>
      <div class="back">
        <a href="/repositories" class="link-blue">&larr; Back to repositories</a>
      </div><!-- end of back link -->
      <p class="lead stats-repo">Average lifetime (in days) of a pull request per repository</p>
      <div class="stats">
        <% average.each do |repo, average_per_repo| %>
        <table>
          <thead>
            <tr>
              <td>
                <p class="stats-average-time"><%= average_per_repo %></p>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="stats-repo"><%= repo %></p>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
      <!-- end of average -->
      <hr class="repo-separator">
      <p class="lead stats-repo">Average number of comments per repository</p>
      <div class="stats">
        <% count.each do |repo, count_per_repo| %>
        <table>
          <thead>
            <tr>
              <td>
                <p class="stats-average-time"><%= count_per_repo %></p>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="stats-repo"><%= repo %></p>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
      <!-- end of count -->
      <hr class="repo-separator">
      <% if pull_request.nil? || pull_request.empty? %>
        <div class="blankslate">
          <h3>Nothing to show here</h3>
          <p>There is no closed Pull Request for these repositories</p>
          <p>Please go back to the <a href="/repositories" title="Repositories selection page">repositories</a> selection</p>
        </div>
      <% end %>
      <% pull_request.each do |pr| %>
      <% next if pr.nil? || pr.empty? %>
    <% end %>
      <% if pull_request && !pull_request.empty? %>
      <div class="back">
        <a href="/repositories" class="link-blue">&larr; Back to repositories</a>
      </div><!-- end of back link -->
      <% end %>
    </div><!-- end of column -->
  </div><!-- end of columns -->
</div><!-- end of container -->
<script src="js/moment.min.js"></script>
