/**
*
*
*
*/
/** Home page **/
.session-authentication {
    background-color: #f9f9f9;
}
.session {
  margin-top: 2.2em;
}
.session-form {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}
.session-header {
    margin-bottom: 1em;
    color: #333;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.session-header h1 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -0.5px;
}
/** General Repositories **/

/* Mobile first styles */
.container {
  width: auto;
  padding-right: .5em;
  padding-left: .5em;
}
.topbar {
  line-height: 1.8;
  margin-bottom: 1.5rem;
  background: rgba(255,255,255,1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  border-bottom: 1px solid #C9C9C9;
  color: #333;
  overflow: auto;
}
.topbar a:link,
.topbar a:visited {
  color: #333;
}
.logo {
  font-size: 1.5em;
}
.user {
  float: right;
  margin-right: 1em;
  margin-top: .2em;
}
.user-card {
  line-height: 1.2;
}
.user-fullname {
  display: none;
  transition: all ease 0.8s;
}
.user-login {
  display: none;
  transition: all ease 0.8s;
}
.user-avatar {
  float: left;
}

/** Desktop styles **/
@media all and (min-width: 65em) {
  .topbar {
    line-height: 1.8;
    margin-bottom: 1.5rem;
    background: rgba(255,255,255,1);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    border-bottom: 1px solid #C9C9C9;
    color: #333;
  }
  .logo {
    font-size: 2em;
  }
  .user {
    float: right;
    margin-right: 1em;
    margin-top: .5rem;
  }
  .user-fullname {
    margin-left: .5em;
    display: inline;
  }
  .user-login {
    margin-left: .5em;
    display: inline;
  }
  .container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
}

/** Repositories **/
.lead-align {
  padding-left: .625em;
  padding-right: .625em;
}
.repo-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
.repo-filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.repo-filters {
  margin-top: 2em;
  margin-bottom: 2em;
}
.repo-filter__list {
  /* On small screens, we are no longer using row direction but column */
  flex-direction: column;
  justify-content: flex-start;
}
.repo-filter__item {
  margin-right: auto;
  margin-bottom: 1em;
}
.repo-filter__item .selected {
  border-bottom: .25em solid #e36209;
}
@media all and (min-width: 47em) {
  .repo-filter__list {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    /* This aligns items to the end line on main-axis */
    align-items: center;
    justify-content: space-around;
  }
  .repo-filter__item {
    margin-right: 0;
  }
}
/** Pull requests **/
.pr-repo__link {
  margin-bottom: 1em;
}
.pr-repo__link a:link, a:visited {
  font-size: 1.5em;
}
.pr-list {
  padding-left: 1em;
  padding-right: 1em;
}
.pr-item {
  margin-bottom: 1.2em;
}
.pr-title {
  font-size: 1.1em;
  font-weight: 600;
}
.pr-details {
  font-size: 1em;
}
.commit-ref {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  font: 0.85em/2 Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #336479;
  white-space: nowrap;
  background-color: #e8f0f8;
  border-radius: 3px;
}
.labels {
  position: relative;
}
.label {
  display: inline-block;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
}
.label-private {
    font-weight: normal;
    color: #4c4a42;
    background-color: #ffefc6;
}
.path-divider {
  margin: 0 0.25em;
  font-size: 1.2em;
}
.icon-comment {
  float: left;
  margin-right: .5em;
  margin-top: .2em;
}

/** Utilities **/
.u-hide {
  display: none;
  transition: all ease 0.8s;
}
